.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  max-width: 1000px;
}

.projectCard {
  background: #161b22;
  border-radius: 6px;
  padding: 16px;
  color: #c9d1d9;
  border: 1px solid #30363d;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectCard:hover {
  transform: translateY(-5px);
  border-color: #58a6ff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.projectHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.projectBody p {
  margin: 0;
}

.projectGitHub {
  font-size: 1.2rem;
  color: #58a6ff;
  font-weight: bold;
  text-decoration: none;
}

.projectGitHub:hover {
  text-decoration: underline;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
